body{
    padding: 50px;
    margin: 0px;
}

p, h5{
    color: black;
}

.smaller-image {
    max-width: 800px; /* Puedes ajustar el valor según tus necesidades */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

h5,p {
    text-align: center;
    font-size: 30px;
    color: white;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    border: 2px solid #ffffff00; /* Puedes ajustar el ancho y el color del borde según tus preferencias */
    border-radius: 5px; /* Puedes ajustar el radio de la esquina del borde para que sea más redondeado */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Puedes ajustar esto según tus necesidades */
}

.card {
    margin: 10px; /* Puedes ajustar esto para agregar espacio entre los cards */
    flex: 0 0 calc(33.333% - 20px); /* Distribuir en tres columnas con espacio entre los cards */
    box-sizing: border-box; /* Garantiza que el espacio adicional sea considerado en el tamaño total */
}

.card-img-bottom {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del card */
}
