<nav class="navbar navbar-expand-lg fixed-top" role="navigation">
  <div class="container" >
      <a class="navbar-brand" href="/home">Home</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
          &#9776;
      </button>
      <div class="collapse navbar-collapse" id="exCollapsingNavbar">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/equipos" style="color: #fff;">Equipos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/proxpartidos" style="color: #fff;">Proximos Partidos</a>
              </li>          
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/resultados" style="color: #fff;">Resultados</a>
              </li>
        
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/jugadores" style="color: #fff;">Jugadores</a>
              </li>
        
              </ul>
          <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
              <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
              <li class="dropdown order-1">
                  <button type="button" id="dropdownMenu1" data-toggle="dropdown" routerLink="/login" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                
              </li>
          </ul>
      </div>
  </div>
</nav>