<body>
        <div class="contenido1">
            <div class="d-flex justify-content-center">
                <div class="card mb-3 custom-bg-dark" style="max-width: 900px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../../../assets/images/card1.jpg" class="img-fluid rounded-start" alt="..." style="height: 100%;">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum placeat architecto velit molestiae ea quia expedita, ut vel odio beatae, impedit maxime mollitia voluptates voluptas doloremque, animi consequuntur exercitationem eum.</p>
                        <p class="card-text"><small class="text-body-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus ipsa doloribus exercitationem dolor est temporibus perferendis accusamus voluptate ullam eaque at dolores veritatis, dicta recusandae praesentium quos ut cum beatae.</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
        </div>
            <div class="contenido2">
                <div class="d-flex justify-content-center">
                    <div class="card mb-3 custom-bg-dark" style="max-width: 900px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="../../../assets/images/card1.jpg" class="img-fluid rounded-start" alt="..." style="height: 100%;">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum placeat architecto velit molestiae ea quia expedita, ut vel odio beatae, impedit maxime mollitia voluptates voluptas doloremque, animi consequuntur exercitationem eum.</p>
                            <p class="card-text"><small class="text-body-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus ipsa doloribus exercitationem dolor est temporibus perferendis accusamus voluptate ullam eaque at dolores veritatis, dicta recusandae praesentium quos ut cum beatae.</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div> 
            <div class="contenedor3">
                <div class="d-flex justify-content-center">
                    <div class="card mb-3 custom-bg-dark" style="max-width: 900px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="../../../assets/images/card1.jpg" class="img-fluid rounded-start" alt="..." style="height: 100%;">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum placeat architecto velit molestiae ea quia expedita, ut vel odio beatae, impedit maxime mollitia voluptates voluptas doloremque, animi consequuntur exercitationem eum.</p>
                            <p class="card-text"><small class="text-body-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus ipsa doloribus exercitationem dolor est temporibus perferendis accusamus voluptate ullam eaque at dolores veritatis, dicta recusandae praesentium quos ut cum beatae.</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
            </div>
</body>