<body>
        <div class="contenido1">
            <div class="d-flex justify-content-center">
                <div id="c1" class="card mb-3 custom-bg-dark" style="max-width: 1150px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../../../assets/images/card1.jpg" class="img-fluid rounded-start" alt="..." style="height: 100%;">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">¡Bienvenido!</h5>
                        <p class="card-text">En [Nombre de tu Página], nos dedicamos a ofrecerte la mejor experiencia en apuestas de fútbol. Desde noticias de última hora hasta pronósticos expertos y estadísticas detalladas, 
                            estamos aquí para mantenerte informado y ayudarte a tomar decisiones acertadas en tus apuestas. Explora nuestro contenido y descubre cómo puedes potenciar tu pasión por el fútbol con emocionantes oportunidades de apuestas.
                        </p>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
        </div>
            <div class="contenido2">
                <div class="d-flex justify-content-center">
                    <div id="c2" class="card mb-3 custom-bg-dark" style="max-width: 1150px;">
                      <div class="row g-0">
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">¿Porque elegirnos?</h5>
                            <p class="card-text">En el mundo de las apuestas de fútbol, la información es clave. En [Nombre de tu Página], nos destacamos por ofrecer análisis detallados, pronósticos precisos y datos estadísticos actualizados. Nuestro equipo de expertos está comprometido con proporcionar contenido confiable y valioso. Únete a nuestra comunidad y descubre por qué somos la elección preferida para los amantes de las apuestas de fútbol.</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <img src="../../../assets/images/card2.webp" class="img-fluid rounded-start" alt="..." style="height: 100%;">
                        </div>
                      </div>
                    </div>
                  </div>
            </div> 
            <div class="contenedor3">
                <div class="d-flex justify-content-center">
                    <div id="c3" class="card mb-3 custom-bg-dark" style="max-width: 1150px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="../../../assets/images/card3.jpg" class="img-fluid rounded-start" alt="..." style="height: 100%;">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Mision</h5>
                            <p class="card-text">En [Nombre de tu Página], nuestra misión es elevar tu experiencia en apuestas de fútbol. Queremos que te sumerjas en el emocionante mundo del fútbol con confianza y conocimiento. Desde análisis a profundidad hasta consejos estratégicos, estamos aquí para brindarte la información que necesitas. Descubre cómo estamos transformando la manera en que disfrutas de las apuestas de fútbol.</p>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
            </div>
</body>