body{
    padding: 50px;
    margin: 0px;
}

p, h5{
    color: black;
}

.smaller-image {
    max-width: 800px; /* Puedes ajustar el valor según tus necesidades */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

h5,p {
    text-align: center;
    font-size: 30px;
    color: white;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    border: 2px solid #ffffff00; /* Puedes ajustar el ancho y el color del borde según tus preferencias */
    border-radius: 5px; /* Puedes ajustar el radio de la esquina del borde para que sea más redondeado */
}

.card-container {
    display: flex;
    justify-content: space-between; /* Puedes ajustar esto según tus preferencias */
    flex-wrap: wrap; /* Permite que los cards se envuelvan a la siguiente línea si no hay suficiente espacio */
}

.card {
    margin-bottom: 20px; /* Puedes ajustar esto para agregar espacio entre los cards */
}

img {
    border: 2px solid #ffffff00; /* Puedes ajustar el ancho y el color del borde según tus preferencias */
    border-radius: 20px; /* Puedes ajustar el radio de la esquina del borde para que sea más redondeado */
}