<body>
    <div>
        <div class="card" *ngFor="let partido of ppartidos">
            <div class="card-body">
                <h5>{{ partido.strEvent }}</h5>
                <p>{{ partido.dateEvent }}</p>
                <p>{{ partido.strVenue }}</p>
            </div>
            <div class="image-container">
                <img [src]="partido.strThumb" class="card-img-bottom smaller-image" alt="O">
            </div>
            <button>Hacer predicción</button>
        </div>
    </div>
</body>